@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:root{
    --primary-color:#f2726a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: linear-gradient(45deg,rgb(65,88,208) 0%,rgb(200,80,192) 50%,rgb(255,204,112) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    color: white;
}

.card{
    background: #242628;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

.card_img{
    width: 200px;
    height: 200px;
    border:4px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(25px);
    transition: 0.5s;
}

.card h2{
    margin: 35px 35px 10px 35px;
}

.img{
    object-fit: cover;
    object-position: center;
}

#my_pic{
    width: 210px;
    height: 240px;
}

.card p {
    color: var(--primary-color);
}

.card_social{
    margin: 25px 0;
}

.card_social a{
    color: white;
    margin: 25px 20px;
    font-size: 30px;
}

.open_modal_btn{
    width: 150px;
    height: 40px;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}

.card button:hover{
    background: var(--primary-color);
}

.card_social a:hover{
    color: var(--primary-color);
}

.card_img:hover{
    width: 100%;
    height: 100%;
    border-radius: unset;
    transform:unset;
    border: none;
}

#my_pic:hover{
    width: 100%;
    height: 100%;
}

.modal{
    position: fixed;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.6);
    height: 100vh;
    width: 100vw;
}

.modal_inner{
    width: 400px;
    position: relative;
    text-align: left;
    margin: auto;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    animation: modalShow 0.2s linear;
    top: 40%;
}

#icon_close{
    color: white;
    margin: 0px 0px 0px 290px;
    padding: 0px;
}

.modal_header{
    display: flex;
    justify-content: spacse-between;
    align-items: center;
    padding: 10px;
    background:var(--primary-color);
}

.modal_body p{
    color: black;
    font-size: small;
    padding: 5px 10px 0px 10px;
}

.modal_header p{
    color: white;
}

.modal_footer{
    padding: 10px;
    text-align: right;
}

.modal_footer button{
    padding: 10px 15px;
    color: white;
    background: var(--primary-color);
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.hide{
    display: none;
}

@keyframes modalShow{
    from{
        top: -200px;
        opacity: 0;
    }
    to{
        top: 40%;
        opacity: 1;
    }
}
